body {
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff5500;
  font-family: 'Shizuru', cursive;
}

form {
  display: flex;
  align-items:  center;
  justify-content: center;
}

input {
  border-radius: 25px;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  justify-content: center;
}